body {
    font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  background-color: var(--lb);
  color: var(--w);
}

h1, h2, h3, .h1, .h2, .h3{
    font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* VARIABILI */
:root{
    /* Le variabili in CSS sono come delle "proprietà", quindi una coppia-valore. La sintassi del nome delle variabili provvede obbligatoriamente  -- */

    --bl: rgb(53, 137, 255);
    --lb: rgb(217, 249, 255);
    --w: rgb(247, 247,247);
}

.bg-bl{
    background-color: var(--bl);
}

.bg-lb{
    background-color: var(--lb);
}

.bg-w{
    background-color: var(--w);
}

.text-bl{
    color: var(--bl);
}

.text-lb{
    color: var(--lb);
}

.text-w{
    color: var(--w);
}


/* HEADER */

.header-custom{
    height: 92vh;
    background-image: linear-gradient(rgba(53, 137, 255, 0.4), rgba(53, 137, 255, 0.4)) ,url(header.jpg);
    background-position: center;
    background-size: cover;
}


/* NAVBAR */

.navbar{
    min-height: 8vh;
}

.nav-link{
    color: var(--w);
    font-weight: bold;
}

.nav-link:hover{
    color: var(--w);
}

.logo{
    width: 50px;
}